@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-first: #7866F2;
  --color-second: #8979F2;
  --color-third: #312E8C;
  --color-fourth: #2E2C73;
  --color-fifth: #F2F1DF;
}
